
/* Mobile Menu  */
#menu-button {
    /* position: relative;
    top: 20px;
    left: 0; */
    cursor: pointer;
}

.modal-menu {
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    transition: 1s opacity;
    transition: border-radius .5s;
}

.modal-content {
    display: flex;
    width: 80% !important;
    height: 100%;
    margin: auto 10%;
    background-color: #fefefe;
    border-radius: 0 !important;
    background-color: rgba(0, 0, 0, 0.628) !important;
    color: hsl(192, 100%, 33%);
    align-items: center;
    justify-content: center;
}

.menu-item {
    font-family: 'Montserrat', sans-serif;
    margin-block: .4em;
    margin-left: -.6em;
    position: relative;
    border-radius: 12px;
    /* border-radius: 30px 0 0 30px; */
    /* border-radius: 50% 50% 50% 50% / 100% 100% 0% 0%; */
    text-shadow: 1px 2px 3px hsl(0, 0%, 30%);
    width: 4.2em;
    background-color: rgb(255, 247, 204);
    font-size: 2.75rem;
    cursor: pointer;
    list-style: none;
    animation: from-right 0.5s ease-in-out;
    animation-fill-mode: forwards;
    transform: translateY(900%);
    border: none;
    /* border-left: 8px solid hsl(0, 0%, 12%);
    border-right: 8px solid hsl(0, 0%, 12%); */
    /* background-color: white; */
    box-shadow: inset 0px 0px 0px 3px hsl(0, 0%, 12%);
}

.menu-item a {
    color: rgb(31, 31, 31);
    text-decoration: none;
    font-size: 2.5rem;
    text-shadow: 1px 1px 2px black;
}

.menu-item:hover {
    color: rgb(47, 47, 47);
    outline: 1px solid rgb(70, 74, 85);
    box-shadow: 0 0 14px rgb(100, 100, 100);
    /* outline-offset: 1px; */
    background: rgb(216, 242, 255);
}

@keyframes from-right {
    from {
        transform: translateX(500%);
    }

    to {
        transform: translateY(0);
    }
}

.modal-content ul li:nth-child(1) {
    animation-delay: 0.1s;
}

.modal-content ul li:nth-child(2) {
    animation-delay: 0.2s;
}

.modal-content ul li:nth-child(3) {
    animation-delay: 0.3s;
}

.modal-content ul li:nth-child(4) {
    animation-delay: 0.4s;
}

.close-div {
    display: flex;
    align-items: flex-end;
    position: absolute;
    right: 1em;
    top: .25em;
}

#close {
    display: inline !important;
    color: #aaa;
    /* float: right; */
    cursor: pointer;
    font-size: 48px;
    font-weight: bold;
    line-height: 1;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.menu {
    display: none;
    padding-block: 2em;
    /* border-bottom: 1px solid rgb(216, 216, 216); */
    /* background-color: rgb(238, 255, 253); */
}


/* Standard Menu */
nav {
    width: 30em;
    margin-inline: auto;
    padding: .5em 1em 0 .5em;
    font-size: 1.3rem;
    /* padding-top: .5em; */
}


nav a {
    position:relative;
    z-index:9;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    text-decoration: none;
    /* padding: 0 .21em 0 .225em; */
}


/* NO OUTLINE ON USER FOCUS  */
    nav a:focus{
        outline: none;
    }


/* HOVER NAV ITEMS BACKGROUND  */
    nav a:before{
        content: "";
        opacity: 0;
        position: absolute;
        z-index: -1;
        top: -10px;
        right: -10px;
        height: calc(100% + 3px);
        width: 100%;
    }
        nav a:hover:before{
            opacity: 1;
            transition: .3s ease-in-out;  
            /* change this to .2s */
            top: -12px;
            right: 0px;
            border-radius: 100% 90% / 40% 99%;
            padding: 1em;
        }

        nav a.home:hover:before{
            background-color: rgb(244, 241, 211);
            border-right: 8px solid gold;
            border-bottom: 5px solid rgb(213, 7, 42);
        }

        nav a.projects:hover:before{
            background-color: rgb(207, 179, 252);
            border-right: 8px solid rgb(20, 11, 84);
            border-bottom: 5px solid rgb(156, 123, 129);
        }

        nav a.resume:hover:before{
            background-color: rgb(237, 255, 229);
            border-right: 8px solid rgb(155, 255, 228);
            border-bottom: 5px solid rgb(255, 185, 197);
        }

        nav a.have-fun:hover:before{
            background-color: rgb(225, 238, 255);
            border-right: 8px solid rgb(119, 111, 201);
            border-bottom: 5px solid rgb(227, 114, 114);
        }

        nav a.docs-nav:hover:before{
            background-color: rgb(255, 251, 169);
            border-right: 8px solid rgb(193, 188, 255);
            border-bottom: 5px solid rgb(84, 0, 174);
        }
        nav a.contact:hover:before{
            background-color: rgb(255, 169, 169);
            border-right: 8px solid rgb(255, 68, 0);
            border-bottom: 5px solid rgb(11, 5, 101);
        }



    /* GENERAL HOVER NAV ITEMS STYLES / TRANSITION EFFECT */
    nav ul li a{
        transition: all .3s ease;
    }
    nav ul li a::before{
        transition: all .3s ease;
    }
    nav ul li a:hover{
        border-bottom: 3px solid transparent !important;
        transition: .3s ease-out;
        color: black;
    }

    
    /* BASE COLOR FOR NAV ITEM  */
    nav a.home {
        color: rgb(255, 99, 99);
        border-bottom: 3px solid rgb(255, 99, 99);
    }

    nav a.projects {
        color: black;
        border-bottom: 3px solid black;
    }

    nav a.resume {
        color: rgb(157, 38, 166);
        border-bottom: 3px solid rgb(157, 38, 166);
    }

    nav a.contact {
        color: hsl(192, 100%, 39%);
        border-bottom: 3px solid hsl(192, 100%, 39%);
    }

    nav a.have-fun {
        /* color: hsl(295, 90%, 55%);
        border-bottom: 3px solid hsl(295, 90%, 55%); */
        color: hsl(34, 92%, 46%);
        border-bottom: 3px solid hsl(34, 92%, 46%);
    }

    nav a.docs-nav {
        color: hsl(233, 90%, 55%);
        border-bottom: 3px solid hsl(228, 100%, 48%);
    }

        /* HOVER COLOR FOR NAV ITEM  */
        nav a.home:hover{
            color: black;
        }
        nav a.projects:hover{
            color: white;
            text-shadow: 1px 1px 1px black, 2px 1px 3px rgb(252, 132, 132);
        }

        nav a.resume:hover{
            color: rgb(4, 79, 64);
        }

        nav a.have-fun:hover{
            color:rgb(255, 255, 244);
            text-shadow: -1px -1px 3px rgb(33, 25, 23), 2px 2px 1px rgb(156, 1, 1);
        }
        nav a.docs-nav:hover{
            color:rgb(0, 0, 0);
        }

        nav a.contact:hover{
            color:rgb(255, 255, 255);
            text-shadow: 3px 3px 3px rgb(34, 5, 1), 2px 2px 1px rgb(55, 54, 52);
        }

.active.docs-nav,
.active.home,
.active.projects,
.active.resume,
.active.contact,
.active.have-fun {
    font-weight: 900;
    color: hsl(176, 32%, 41%);
}

.active.home {
    border-bottom: 5px solid hsl(0, 100%, 69%);
}

.active.projects {
    border-bottom: 5px solid hsl(0, 0%, 0%);
}

.active.resume {
    border-bottom: 5px solid hsl(296, 63%, 40%);
}

.active.contact {
    border-bottom: 5px solid hsl(192, 100%, 39%);
}

.active.have-fun {
    border-bottom: 5px solid hsl(295, 90%, 55%);
}

.active.docs-nav{
    border-bottom: 5px solid hsl(228, 100%, 48%);
}



/* media queries in style.css */