@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Lato:wght@100;300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

/* font-family: 'Libre Baskerville', serif; */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Containers  */
/* html, body{
    width: 100%;
    height: 100%;
} */
body {
    overflow-x: hidden;
    font-family: Helvetica, sans-serif;
}

#container {
    height: 100%;
    min-height: 100vh;
    min-width: 100vw;
    position: relative;
    overflow-x: hidden;
    font-family: Helvetica, sans-serif;
    /* border: 99px solid blue; */
}

ul {
    list-style-type: none;
}

.ul-styled {
    list-style-type: circle;
}

.ul-styled li {
    margin-block: .5em;
}

/* ===== Typography ===== */

.hr-heavy{
    background-color: black; 
    height: 4px;
    margin: 2.25em 0;
}
.font-assistant {
    font-family: 'Assistant', sans-serif;
}

.font-montserrat {
    font-family: 'Montserrat', sans-serif;
}


.fs-200 {
    font-size: 1.25rem;
}

.fs-300 {
    font-size: 1.65rem;
}

.fs-500 {
    font-size: 2rem;
}
.fs-600{
    font-size: 3.5rem;
}
.fs-700 {
    font-size: 4rem;
}

.fs-900 {
    font-size: 7rem;
}

.no-bold{
    font-weight: normal;
}
.bold-600 {
    font-weight: 600;
}
.bold-900{
    font-weight: 900;
}

.black {
    color: rgb(37, 37, 37);
}

.purple {
    color: hsl(271, 41%, 45%);
}

.purple-lte {
    color: hsl(271, 33%, 56%);
}

.text-white {
    color: white;
}
.yellow{
    color: rgb(255, 255, 148);
}
.anchor-no-style {
    text-decoration: none;
}

.h1-bigger {
    font-size: 3rem;
}

.txt-white {
    color: rgb(224, 224, 224);
}

/* Section Titles  */
.title-div {
    background: linear-gradient(.25turn, #30e7ff, #78ffe9, #b4fff7);
    background: linear-gradient(.25turn, #ffff70, #ffffb9, #ffffd7);
    border-right: 2px solid black;
    border-left: 1px solid black;
    border-bottom: .5px solid black;
    border-top: .5px solid black;
    border-radius: 1px 60px;
    width: 17em;
    height: 2em;
    display: inline-block;
}

.title {
    font-family: 'Lato', sans-serif;
    color: rgb(70, 138, 134);
    color: hsl(192, 100%, 39%);
    /* font-size: 3.4rem; */
    /* text-shadow: 1px 1px 3px rgb(153, 152, 82); */

    font-size: 5rem;
    text-shadow: 1px 1px 3px rgb(214, 155, 155);
}

.title-div::before {
    content: '';
    border-top: .5px solid rgb(34, 34, 34);
    position: relative;
    display: flex;
    right: 4em;
    bottom: .5px;
}

.title-div::after {
    content: '';
    border-top: .5px solid black;
    position: relative;
    display: flex;
    left: 4em;
    top: .5px;
}

.box-shadow {
    height: auto;
    box-shadow: 5px 0 12px -3px rgb(121, 132, 145),
        -5px 0 12px -3px rgba(169, 181, 196, 0.8);
}

/* ====== Backgrounds ====== */
.bgr-white {
    background-color: white !important;
}

.bgr-coal {
    background-color: hsl(0, 0%, 0%);
}

.bgr {
    background-color: rgb(244, 244, 244);
}

.bgr2 {
    /* background-color: hsl(0, 0%, 22%); */
    background-color: hsl(0, 0%, 12%);
}

.bgr3 {
    background-color: hsl(58, 100%, 92%);
}

.bgr4 {
    background-color: rgb(253, 247, 134);
}

/* ====== Layout ====== */

/* Display */

.block{
    display: block;
}
.inline-block {
    display: inline-block;
}

.flex {
    display: flex;
}

.space-around {
    justify-content: space-around;
}

/* .grid-container{
    display: grid;

    grid-template-columns: repeat(auto-fit, 40rem);
    justify-content: center;
} */

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(700px, 1fr));
}

.grid-item {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1em;
}

.grid-item p {
    font-family: 'Assistant', sans-serif;

    font-weight: 500;
    font-size: 1.8rem;
    width: 90%;
    margin: auto;
}

.grid-image {
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 7px 5px 12px rgb(76, 76, 76);
    width: 100%;
}

.grid-item .a-logo {
    position: relative;
    transition: transform 0.1s ease-in-out;
}

.grid-item .a-logo::before {
    border-radius: 10px;
    content: "Click to See";
    color: white;
    font-family: 'Cutive Mono', monospace;
    text-shadow: 2px 3px 3px black;
    font-size: 4rem;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: linear-gradient(90deg, rgba(204,192,255,0.5) 12%, rgba(204,192,255,0.35) 84%); */
    background-color: rgba(204, 192, 255, 0.445);
}

.grid-item .a-logo:hover::before {
    opacity: 0;
    outline: 1px solid rgb(123, 123, 123);
    /* opacity: .9; */
}

.grid-item .a-logo:hover {
    transform: translateY(-10px);
}

/* .wrapper{
    border: 1px solid red;
    padding-bottom: 1em;
} */


/* BORDERS */
.border-top {
    border-top: 2px solid black;
}

/* PADDINGS  */
.padding-inline {
    padding: 1.4em 1em;
}

.padding-inline-lg {
    padding-inline: 2.2em;
}

.center-it {
    /* padding: 2em;
    display: flex;
    align-items: center; */
}

.padding-block {
    padding-block: 3em;
}

.padding-block-sm {
    padding-block: .8em;
}

/* MARGINS */
.margin-block {
    margin-block: 1em;
}

.intro {
    padding: 2em 2em 0 10%;
    /* margin: 0 20px; */
    color: rgb(64, 64, 64);
    /* border: 1px solid blue; */
    /* position: relative; */
}

.intro p {
    font-size: 1rem;
    margin-top: 2em;
}

.hello-span {
    font-size: 3rem;
    line-height: .2rem;
    color: rgb(87, 158, 153);
    color: rgb(70, 138, 134);
}

/* .portrait-div{
        display: flex;
        justify-content: center;
        margin-left: 2em;
    } */

.welcome {
    /* outline: 1px solid red; */
    min-width: 100%;
    /* margin-top: -2.8em; */
    /* padding-block: 10rem; */
    padding-block: 3rem;
    padding-inline: 2rem;
    /* justify-content: center; */
    background-color: rgb(244, 244, 244);
}

.welcome h1 {
    /* visibility: hidden; */
    font-size: 2rem;
    text-align: center;
    letter-spacing: .6rem;
    line-height: 3rem;
    color: rgb(0, 158, 197);
    font-family: 'Cutive Mono', monospace;

    /* font-family: 'Lato', sans-serif; */
}

.welcome h3 {
    font-family: 'Cutive Mono', monospace;
    color: rgb(47, 47, 47);
    font-size: 3em;
    text-align: center;
}




/* ===== Components ===== */
.content {
    min-height: 88vh;
}


/* Footer  */
#footer {
    /* position: absolute; */
    bottom: 0px;
    padding-block: 4em;
    padding-inline: 1em;
    /* background-color: hsl(216, 12%, 8%); */
    background-color: hsl(0, 0%, 86%);
    min-width: 100%;
    font-size: 1.2rem;
    color: rgb(34, 34, 34);
    /* display: flex; */
    /* justify-content: space-around; */
    position: relative;
}

#footer-inner {
    margin-bottom: 1em;
    text-align: center !important;
}

#footer p {
    text-align: center !important;
    margin-top: 1em;
}


.resume-top a{
    text-decoration: none;
}
.resume-top svg, .resume-top img{
    width: 35px;
    height: 35px;
    margin-left: 1em;
}

#phone svg{
    position: absolute;
    top: 2em;
    left: 15%;
}
    #phone svg, #phone-resume svg{
        fill: hsl(0, 0%, 13%);
    }

#mail svg, #mail-resume svg{
    fill: hsl(192, 100%, 39%);
}
    #mail svg {
        position: absolute;
        top: 2em;
        left: 35%;
    }


#linkedin svg {
    position: absolute;
    top: 2em;
    left: 55%;
}
    #linkedin svg, #linkedin-resume svg{
        fill: hsl(210, 89%, 40%);
    }

#github-resume img{
    height: 27px;
    width: 27px;
}
#github img {
    /* fill: black; */
    height: 45px;
    width: 45px;
    position: absolute;
    top: 2em;
    left: 75%;
}


/* ===== Project Page =====*/

#visit-site {
    background-color: rgb(255, 254, 186);
    /* background-color: rgb(255, 234, 234); */
    color: rgb(31, 31, 31);
    display: block;
    font-size: 3.5rem;
    text-decoration: none;
    text-shadow: 1px 1px rgb(190, 190, 190);
}

#visit-site:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 253, 110);
    text-shadow: -2px -2px 8px rgb(225, 189, 150), -1px 3px 2px rgb(239, 233, 113);
}

#project-main-img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 2em;
}

#project-main-img img {
    border-radius: 10px;
    height: 35em;
    width: 60em;
}

#project-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 100vw; */
}

#project-banner * {
    margin: .25em;
}

#project-banner img {
    display: inline-block;
    width: 6em;
}

#project-banner h1 {
    display: inline-block;
    font-size: 6rem;
    font-family: 'Cutive Mono', monospace;
}

#project-banner.ticket-easy {
    background-color: #304e99;
}

#project-banner.stream-bunny {
    background-color: dodgerblue;
}

#project-banner.session-tracker {
    background-color: hsl(276, 34%, 33%);
}

.title-ticket-easy {
    color: hsl(57, 74%, 70%);
}

.title-stream-bunny {
    color: hsl(0, 0%, 0%);
}

.title-session-tracker {
    color: hsl(62, 100%, 81%);
}



/* ===== Certification Page ===== */
.certification-div{
    /* outline: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 70vh;
}
    .certification-div img{
        width: 98vw;
        height: 40vh;
        border-left: 1px solid rgb(223, 223, 223);
        border-right: 1px solid rgb(223, 223, 223);
        border-bottom: 1px solid rgb(223, 223, 223);
        border-top: 1px solid rgb(205, 205, 205);
        box-shadow: 5px 5px 2px rgb(74, 74, 74), 6px 8px 20px rgb(146, 145, 90);
    }

    @media (min-width: 1024px) {
    .certification-div{
        width: 100vw;
        height: 70vh;
    }
        .certification-div img{
            width: 45vw;
            height: 60vh;
        }
    }


/* ===== Resume Page ===== */
.modal-menu-resume {
    display: none;
    position: fixed;
    z-index: 20;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    transition: 1s opacity;
    transition: border-radius .5s;
}

.modal-content-resume {
    display: flex;
    width: 80% !important;
    height: 100%;
    margin: auto 10%;
    background-color: #fefefe;
    border-radius: 0 !important;
    background-color: rgba(0, 0, 0, 0.628) !important;
    color: hsl(192, 100%, 33%);
    align-items: center;
    justify-content: center;
}

.close-resume-modal-div {
    display: flex;
    align-items: flex-end;
    position: absolute;
    right: 1em;
    top: .25em;
}

#close-resume-modal {
    display: inline !important;
    color: #190000;
    /* float: right; */
    cursor: pointer;
    font-size: 48px;
    font-weight: bold;
    line-height: 1;
}

.close-resume-modal:hover,
.close-resume-modal:focus {
    color: black !important;
    text-decoration: none;
    cursor: pointer;
}
.resume-modal-cert-img{
    height: 90%;
}


.view-cert {
    cursor: pointer;
    background-color: transparent;
    position: relative;
    margin-top: 1em;
    margin-bottom: 0em;
    border: none;
    outline: none;
    font-size: 1.2rem;
    font-weight: 600;
    color: #288d96;
}
    .view-cert-span{
        margin-left: 2.5em;
    }

    .arrow {
        cursor: pointer;
        border: solid black;
        border-width: 0 2px 2px 0;
        display: inline-block;
        margin-inline: 9px;
        margin-bottom: 3px;
        vertical-align: middle;
        padding:2.5px;
        transition: transform 0.3s ease;
    }
        .arrow-down {
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
        }

        .arrow-up{
            transform: rotate(-135deg);
            -webkit-transform: rotate(-135deg);
        }

    .cert-img-modal-trigger{
        cursor: pointer;
        height: 122px !important;
    }


.education-inner-heading{
    justify-content: center;
}
    .education-inner-heading img{
        height: 120px;
        width: 240px;
    }

.job-header {
    line-height: 1.8em;
}

.code-style {
    color: rgb(112, 206, 112);
}

.resume-top {
    position: relative;
}

.me-alt {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 230px;
    height: 230px;
}

.resume-name span {
    font-family: 'Cutive Mono', monospace;
    font-weight: 900;
    font-size: 2rem;
    /* color: hsl(272, 79%, 37%); */
    color: hsl(223, 53%, 39%);
}

.resume-name span {
    font-family: 'Cutive Mono', monospace;
}

.resume-job-title span,
.resume-section-title,
.job-skills,
.job-skills-duplicate {
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}


.job-skills-duplicate {
    position: absolute;
    top: -1px;
    right: 0px;
    z-index: -1;
    /* black background font  */
    /* background-image: linear-gradient(217deg, hsla(0, 100%, 69%, 0.9), rgba(255, 0, 0, 0) 70.71%),
        linear-gradient(127deg, hsla(169, 100%, 70%, 0.9), rgba(41, 202, 140, 0) 70.71%),
        linear-gradient(336deg, hsla(240, 83%, 79%, 0.9), rgba(25, 25, 163, 0) 70.71%); */
    background-image: linear-gradient(217deg, hsla(0, 77%, 50%, 0.9), rgba(255, 0, 0, 0) 70.71%),
        linear-gradient(127deg, hsla(169, 96%, 49%, 0.9), rgba(41, 202, 140, 0) 70.71%),
        linear-gradient(336deg, hsla(240, 84%, 56%, 0.9), hsla(240, 85%, 70%, 0) 70.71%);
}



.job-skills {
    position: relative;
    background-color: rgb(0, 0, 0);
    z-index: 0;
    margin-inline: 1em;
}

.resume-job-title span {
    font-size: 1.2rem;
    display: inline-block;
    background-image: linear-gradient(to right, hsl(272, 93%, 51%), rgb(239, 114, 90));
    text-shadow: 0 0 0px rgba(86, 86, 86, 0.5);

}

.resume-section-title {
    background-image: linear-gradient(to right,
        rgb(185, 0, 0),
        rgb(236, 153, 0),
        rgb(224, 224, 0),
        rgb(0, 97, 0),
        rgb(0, 0, 192),
        indigo,
        rgb(189, 103, 189)
    );

/* background-image: linear-gradient(to right,  rgba(1,111,197,1) 0%, rgba(86,101,179,1) 25%, rgba(171,98,172,1) 50%, rgba(229,77,140,1) 75%, rgba(147,233,8,1) 100%); */
    display: inline-block;
    font-family: 'Assistant', sans-serif;

    font-size: 3rem;
    font-weight: 900;
    letter-spacing: 2px;
    /* text-align: center; */
    vertical-align: middle;
    text-shadow: 0 0 0px rgba(248, 126, 126, 0.5);
}

.line {
    background-color: rgb(33, 33, 33);
    height: 3px;
    width: 40px;
    margin-right: .5em;
    display: inline-block;
    vertical-align: middle;
}

.resume-project-title {
    /* font-family: 'Assistant', sans-serif; */
    display: inline-block;
    padding: 4px 8px;
    border-bottom: 2px solid black;
    border-right: 1px solid black;
    border-radius: 7px;
}

    .resume-project-title a {
        font-family: 'Montserrat', sans-serif;
        text-decoration: none;
    }

    .resume-portfolio-title {
        background-color: rgb(255, 255, 255);
        color: black;
    }

.resume-ticket-easy-title {
    background-color: hsl(223, 52%, 39%);
}

    .resume-ticket-easy-title a {
        color: hsl(57, 74%, 70%);
        text-shadow: 1px 1px hsl(223, 52%, 59%);
    }

    .resume-ticket-easy-title a:hover {
        color: rgb(246, 231, 27);
        text-shadow: 1px 1px hsl(216, 3%, 33%);
    }

.resume-concordance-title {
    background-color: hsl(54, 94%, 69%);
}

    .resume-concordance-title a {
        color: hsl(0, 0%, 0%);
        text-shadow: 1px 1px hsl(48, 100%, 90%);
    }

    .resume-concordance-title a:hover {
        color: hsl(0, 0%, 30%);
        text-shadow: 1px 1px hsl(48, 100%, 90%);
    }

.resume-stream-bunny-title {
    background-color: hsl(209, 100%, 55%);
}

    .resume-stream-bunny-title a {
        color: hsl(0, 0%, 0%);
        text-shadow: 1px 1px hsl(209, 100%, 75%);
    }

    .resume-stream-bunny-title a:hover {
        color: rgb(246, 231, 27);
        text-shadow: 1px 1px hsl(216, 3%, 33%);
    }

.resume-session-tracker-title {
    background-color: hsl(277, 34%, 33%);
}

    .resume-session-tracker-title a {
        color: hsl(62, 100%, 81%);
        text-shadow: 1px 1px hsl(277, 34%, 53%);
    }

    .resume-session-tracker-title a:hover {
        color: hsl(56, 99%, 64%);
        text-shadow: 1px 1px hsl(216, 3%, 33%);
    }

.resume-starry-ocean-title {
    background-color:hsl(209, 69%, 37%);
}

    .resume-starry-ocean-title a {
        color: hsl(179, 100%, 91%);
        text-shadow: 1px 1px hsl(203, 79%, 46%);
    }

    .resume-starry-ocean-title a:hover {
        color: hsl(56, 99%, 64%);
        text-shadow: 1px 1px hsl(216, 3%, 33%);
    }

.resume-my-moogle-title {
    background-color: hsl(0, 98%, 44%);
}

.resume-my-moogle-title a {
    color: hsl(191, 100%, 97%);
    text-shadow: 1px 1px hsl(246, 34%, 53%);
}

.resume-my-moogle-title a:hover {
    color: hsl(56, 99%, 64%);
    text-shadow: 1px 1px hsl(216, 3%, 33%);
}



.resume-project-desc {
    font-family: 'Cutive Mono', monospace;
    font-family: 'Assistant', sans-serif;
    font-family: 'Montserrat', sans-serif;

    font-size: 1.3rem;
    color: hsl(0, 71%, 70%);
    text-shadow: 1px 1px hsl(0, 0%, 65%);

    /* color: hsl(271, 33%, 56%); */
    color: hsl(39, 90%, 70%);

    text-shadow: 1px 1px hsl(0, 0%, 25%);

    letter-spacing: 1px;
}

.animate-text {
    opacity: 0;
    transform: translateY(100%);
    animation-duration: .5s;
    animation-fill-mode: forwards;
    /* animation: fadeInUp 0.5s; */
    animation: fadeInUp 0.3s forwards;
    -moz-animation: fadeInUp 0.3s forwards;
    -webkit-animation: fadeInUp 0.3s forwards;
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }

}

.fade-in {
    opacity: 0;
    animation: fadeFromLeftToRight 1.8s ease-in-out forwards;
}

@keyframes fadeFromLeftToRight {
    from {
        opacity: 0;
        transform: translateX(-50%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}


/* 
.fade-in{
    opacity: 0;
    transition: opacity 140ms ease-in;
}

.fade-in.appear{
    opacity: 1;
} */

.slide-in.left {
    transform: translateX(-100%);
}

.slide-in.right {
    transform: translateX(100%);
}

.slide-in.left.appear,
.slide-in.right.appear {
    opacity: 1;
    transform: translateX(0);
    transition: transform 400ms ease-in;
}


.left,
.right {
    transition:
        opacity 250ms ease-in,
        transform 400ms ease-in;
    opacity: 0;
}

/* 

.left.appear, .right.appear{
opacity: 1;
transform: translateX(0);
transition: transform 400ms ease-in;
} */



/* CONTACT PAGE  */

.contact-bgr {
    /* background: url("/static/media/bali.jpg") 50% -700px no-repeat fixed; */
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("/static/media/images/bali-lg.jpg") 50% no-repeat fixed;
    color: rgb(255, 229, 99);
    text-shadow: 1px 2px 9px black;
    background-size: cover;
    text-align: justify;
}

.contact-me a {
    color: rgb(255, 229, 99);
    font-size: 3rem;
    text-shadow: 1px 1px 9px rgb(0, 0, 0);
}

.contact-me a:hover {
    color: rgb(240, 179, 255);
}



/* Mobile  */
.mobile-hidden {
    display: none;
}

.mobile-hidden-grid {
    display: none;
}

.mobile-project-description-overlay {
    position: relative;
}

.mobile-project-description-overlay::before {
    border-radius: 10px;
    content: "";
    color: white;
    font-family: 'Cutive Mono', monospace;
    /* font-family: Helvetica, sans-serif;
    font-weight: 300 !important; */
    text-shadow: 2px 3px 3px black;
    font-size: 4rem;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: linear-gradient(90deg, rgba(204,192,255,0.5) 12%, rgba(204,192,255,0.35) 84%); */
    background-color: rgba(204, 192, 255, 0.445);
}

.mobile-project-img {
    width: 100% !important;
    height: 100% !important;
}

.te-overlay-1::before,
.te-overlay-2::before,
.te-overlay-3::before,
.te-overlay-4::before,
.te-overlay-5::before,
.te-overlay-6::before,
.te-overlay-7::before,
.te-overlay-8::before {
    padding: .4em 1em;
    text-align: center;
    font-size: 3.3rem;
    font-weight: 900;
    color: rgb(18, 15, 30);
    text-shadow: 2px 3px 3px rgb(168, 149, 149);
}

.te-overlay-1::before {
    content: "Manage tickets";
}

    .te-overlay-2::before {
        content: "Interactive table";
    }

    .te-overlay-3::before {
        content: "Create tickets";
    }

    .te-overlay-4::before {
        content: "Automation Maker";
    }

    .te-overlay-5::before {
        content: "Manage automations";
    }

    .te-overlay-6::before {
        content: "Canned Responses";
    }

    .te-overlay-7::before {
        content: "E-mail";
    }

    .te-overlay-8::before {
        content: "Analytics";
    }


.te-overlay-bunny-1::before{
    content: "Search Feature";
}
    .te-overlay-bunny-2::before{
        content: "User Profiles";
    }
    .te-overlay-bunny-3::before{
        content: "User Favorites";
    }
    .te-overlay-bunny-4::before{
        content: "User Discussions";
    }



.d-width {
    max-width: 100dvw;
}


/* Images  */
#portrait {
    width: 40em;
    padding-right: 2em;
    /* height: 30em; */
    /* float: right; */
    /* display: inline-block; */
}



/* ===== Media Queries ===== */
/* @media (max-width: 1024px){
    .me-alt{
        width: 206px; height: 206px;
    }
}
@media (max-width: 700px){
    .me-alt{
        display: none;
    }
} */


@media (max-width: 767px) {

    /* hide original, larger portrait */
    .portrait-div {
        display: none;
    }

    /* re-adjust style for the new portrait bust  */
    .welcome {
        padding: 1em 1em 0 1em;
        /* display: relative; */
        z-index: 1;
        position: relative;
    }

    /* job title  */
    .welcome h1 {
        color: hsl(82, 100%, 49%);
        /* border-radius: 20px; */
        text-shadow: 2px 2px 4px rgb(46, 47, 95), 1px 1px black;
        font-weight: 700;
    }

    .welcome h3 {
        text-shadow: 2px 2px 4px rgb(46, 47, 95), 1px 1px black;
        color: rgb(0, 158, 197);
    }

    #portrait-bust-div {
        opacity: .80;
        position: absolute;
        bottom: 0;
        left: 50%;
        z-index: -1;
        display: none;
        /*  ^ change with JS to fadeIn() after the name appears  */
    }

    #portrait-bust {
        width: 13em;
        height: 10em;
    }

    .hello-span {
        color: hsl(176, 33%, 31%);

    }
}

@media (min-width: 700px) and (max-width: 767px) {

    /* #portrait{
        width: auto;
    } */
    .intro p {
        font-size: 1.2rem;
        margin-top: 2em;
    }

    .hello-span {
        font-size: 4rem;
    }

    .resume-name span {
        font-size: 4rem;
    }

    .resume-job-title span {
        font-size: 1.7rem;
    }
}

@media (max-width: 768px) {
    .resume-section-title {
        font-size: 2rem;
    }
}

@media (min-width: 728px) and (max-width: 767px) {
    .welcome {
        min-height: 17vh;
    }
}

@media (min-width: 768px) {
    #portrait-bust {
        display: none;
    }

    .intro p {
        /* font-size: .8rem !important; */
        font-size: 1.2rem !important;
        margin-top: 2em;
    }

    .hello-span {
        font-size: 4rem;
    }

    .resume-name span {
        font-size: 4rem;
    }

    .resume-job-title span {
        font-size: 1.7rem;
    }

    .portrait-div {
        display: block;
    }

    /* .intro-paragraph{
        max-height: 60vh;
        overflow-y: scroll;
    }
    .intro-paragraph {
        max-height: 60vh;
        overflow-y: scroll;
    
        scrollbar-width: thin;
        scrollbar-color: #555555 #f0f0f0;
    
        scrollbar-face-color: #f0f0f0;
        scrollbar-track-color: #f0f0f0;
        scrollbar-arrow-color: #555555;
        scrollbar-shadow-color: #555555;
        scrollbar-highlight-color: #555555;
        scrollbar-3dlight-color: #555555;
        scrollbar-darkshadow-color: #555555;
    }
    
    .intro-paragraph::-webkit-scrollbar {
        width: 12px;
    }
    
    .intro-paragraph::-webkit-scrollbar-thumb {
        background-color: #b0afaf;
    }

    .intro-paragraph::-webkit-scrollbar-track {
        background-color: #f0f0f0;
    } */
}

@media (min-width: 768px) and (max-width: 1023px) {
    #portrait {
        width: 38em !important;
        /* width: 28em; */
    }

}

@media (min-width: 742px) {
    .mobile-only-job-heading {
        display: none;
    }
    .education-inner-heading{
        display: flex;
        align-items: space-between;
        justify-content: left;
    }
        .education-inner-heading p{
            margin-left: 1.5em;
        }
}

@media (max-width: 794px) {
    .desktop-only-job-heading {
        display: none;
    }
}

@media (min-width: 1024px) {

    /* General  */
    .margin-block {
        margin-block: 2em;
    }

    .padding-inline {
        padding: 1.4em 7em;
    }


    /* Home page  */
    /* #portrait{
        width: auto;
    } */
    .portrait-div {
        margin: 0;
    }

    .welcome h1 {
        font-size: 4rem;
        text-align: center;
        letter-spacing: .6rem;
        line-height: 6rem;
    }

    /* Footer */
    #footer-inner {
        margin-bottom: 0;
    }

    #phone svg {
        left: 33%;
    }
    #mail svg {
        left: 43%;
    }

    #linkedin svg {
        left: 54%;
    }

    #github img {
        left: 64%;
    }


    /* Resume page */
    .download-cv{
        cursor: pointer;
        margin: .2em 0 1em 0;
        border-radius: 6px;
        padding: .5em .9em;
        color: rgb(0, 105, 209);
        font-size: 1.3rem;
    }
        .download-cv:hover{
            color: black;
        }

    .resume-name span {
        font-size: 5rem;
    }

    .resume-job-title span {
        font-size: 1.9rem;
    }

    .intro p {
        font-size: 1.4rem !important;
        margin-top: 2em;
    }



    /* Projects  */

    #starry-ocean-trigger img{
        background-color: white;
    }
    .mobile-project-img {
        width: 620px !important;
        height: 400px !important;
    }

    .mobile-project-description-overlay::before {
        display: none;
    }

    .mobile-hidden {
        display: block;
    }

    .mobile-hidden-grid {
        display: grid;
    }

    .menu {
        display: block;
    }

    #menu-button {
        display: none;
    }

    /* .grid{
        margin: auto;
    } */
    .grid-item {
        /* border: 1px solid blue; */
        grid-template-columns: 1fr 2fr;
        grid-column-start: 1;
        /* gap: 8em; */

    }

    .grid-item p {
        width: 100%;
        margin: 0;
    }

    .grid-image {
        width: 620px;
        height: 400px;
    }

    .grid-item .a-logo {
        width: 620px;
        height: 400px;
    }

    .grid-item .a-logo::before {
        width: 620px;
        height: 400px;
    }
}

@media (min-width:1280px) {

    #portrait {
        width: 48em !important;
    }

    .intro p {
        font-size: 2rem;
    }


    .ul-styled {
        font-size: 1.1rem;
    }

    .ul-columns{
        columns: 3;
        -webkit-columns: 3;
        -moz-columns: 3;
        /* list-style-type: none; */
    }
    .tenure {
        font-size: 1.2rem;
    }
    .fs-110{
        font-size: 1.1rem;
    }
    .fs-200 {
        font-size: 1.4rem;
    }

    .fs-300 {
        font-size: 1.8rem;
    }
}

/* Full HD++ to Quad HD  */
@media (min-height: 1140px){
    /* navbar */
        nav {
            margin-inline: 32%;
        }
            nav ul{
                width: 40vw;
                /* display: inline-block; */
            }
            nav ul li{
                font-size: 1.9rem;
            }
    /* homepage */
        #portrait{
            width: 72em !important;
        }
}

/* 4K UHD */
@media (min-width: 3840px){
    /* navbar  */
        nav {
            margin-inline: 15%;
        }
            nav ul{
                width: 70vw;
                display: inline-block;
            }
                nav ul li{
                    font-size: 5rem;
                }
    /* home page  */
        .welcome h3{
            font-size: 6rem;
        }
        .welcome h1{
            font-size: 7rem;
        }
        #portrait{
            width: 122em !important;
        }
        #hello-p{
            font-size: 4rem;
        }

    /* footer  */
        #footer{
            font-size: 3rem;
        }
            #footer svg{
                width: 3em;
                height: 3em;
            }
}
/* 
@media (min-width: 1450px) {
    .grid-item {}
} */


/* ====== Utility ====== */
.hidden{
    display: none;
}
.show{
    display: block;
}

.vh-100{
    min-height: 100vh;
}

.docs-button{
    font-size: 1.55rem;
}
.docs-button:hover{
    /* color: blue; */
    background-color: hsl(0, 0%, 98%);
    text-shadow: 1px 1px 70px rgb(5, 10, 46), 2px 3px 3px rgb(194, 208, 255);
}
