{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section class="content contact-bgr">
        <div class="text-center padding-block">
            <h1 class="font-assistant fs-900">Hello, World!<h1>

            <h2 class="font-montserrat">Please feel free to contact me by any method below.</h2>
            <br>
            <div class="contact-me">
                <h1><a target="_blank" href="mailto:code@matthewsummers.dev" class="anchor-no-style font-assistant">Email</a></h1>
                <h1><a class="anchor-no-style font-assistant" target="_blank"href="https://www.linkedin.com/in/matthew-d-summers/">LinkedIn</a></h1>
                <h1><a class="anchor-no-style font-assistant" href="tel:+60 19-620-8890">+60 19-620-8890</a></h1>
            </div>
        </div>
    </section>
{% endblock %}