{% extends 'base.html' %}
{% load static %}
{% comment %} {% block stylesheets %}
    <link rel='stylesheet' type='text/css' href="{% static 'star_ocean_static/css/star-ocean.css' %}"%>
{% endblock %} {% endcomment %}

{% block content %}
<div id="docs-container" class="vh-100">
    <form method="GET" action="#" id="star-ocean-docs-trigger" class="placeholder-div-trigger">
        <input class="form-control docs-button" type="submit" value="Starry Ocean API Documentation">
    </form>
</div>  <!-- end container  -->

{% endblock %}



{% comment %} {% block deferred_scripts %}
    <script src="{% static 'star_ocean_static/js/docs.js' %}"></script>
{% endblock %} {% endcomment %}