{% extends 'base.html' %}
{% load static %}
{% block content %}
            <div class="welcome">
                    <h3 id="name">Matthew Summers</h3>
                    <h1>FULL-STACK WEB DEVELOPER</h1>
                <div id="portrait-bust-div">
                    <img src="{% static 'media/images/me-bust.png' %}" alt="self-portrait" id="portrait-bust">
                </div>
            </div>

            <div class="row intro">
                <div class="col-sm-12 col-md-6">
                    <p id="hello-p"><span class="hello-span">Hello,</span> my name is Matthew. I love to code, and I love music. I began coding in 2021 when I enrolled in Coding Dojo. 
                        I graduated in 2022 from the Software Development with Python course with all honors. In the course, we learned many things including Python, JavaScript, and full-stack development using Django.
                        Since I graduated, I've been working as a full-stack web developer.
                        I hope you enjoy my projects! Feel free to reach out.
                    </p>
                </div>
                <div class="col-sm-12 col-md-4 portrait-div">
                    <img src="{% static 'media/images/me-alt-transformed.png' %}" alt="self-portrait" id="portrait">
                </div>
            </div>
        </div>
        <script>
            var i = 0;
            const portrait_bust = $("#portrait-bust-div");
            console.log(portrait_bust)
            var text = document.querySelector(".welcome h1").innerHTML;
            document.querySelector(".welcome h1").innerHTML = "";
                //var intervalId = setInterval(typeWriter, 50);

            function typeWriter() {
                if (i < text.length) {
                    document.querySelector(".welcome h1").innerHTML += text.charAt(i);
                    i++;
                    setTimeout(typeWriter, 40);
                //    requestAnimationFrame(typeWriter);
                }

                //fade in portrait bust 
                if (i == text.length){
                    portrait_bust.fadeIn(1450)
                }
            }

            //window.onload = typeWriter;
            typeWriter();

            const name = document.querySelector(".welcome h3").innerHTML;

            document.querySelector(".welcome h3").innerHTML = "";
            var j = 0;
            const typeName = () => {
                if (j < name.length) {
                    document.querySelector(".welcome h3").innerHTML += name.charAt(j);
                    j++;
                    setTimeout(typeName, 70);
                }
            };

            typeName();
    </script>
{% endblock %}
