{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="content-2">
    <div class="text-center">
        <div class="title-div">
            <h1 class="title">Projects</h1>
        </div>
    </div>
    <div class="grid">
        <div class="grid-item">
            <img class="grid-image" src="{% static 'media/images/tickets.png' %}">
            <p>
                TICKET EASY
                A support ticketing system built for dynamic usage and equipped with custom automations.
            </p>
        </div>
            

        <div class="grid-item">
            <img class="grid-image" src="{% static 'media/images/bots.png' %}">
            <p>                                
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ac venenatis nulla. Fusce diam nisi, cursus eget eros vel, fermentum porta tellus. Cras non turpis massa. Aliquam accumsan auctor enim, id blandit nibh consequat et. Donec molestie purus eget feugiat iaculis. In iaculis metus enim, ac pharetra nibh
                rhoncus at. Nullam interdum porta erat, a tempus tortor sodales a. Integer sit amet massa at enim egestas aliquam ut id tellus. Duis vel nunc ac magna ullamcorper scelerisque sit amet id sapien. Sed non pellentesque ante, id consequat magna.
            </p>
        </div>
        <div class="grid-item">
            <img class="grid-image" src="{% static 'media/images/bots-new.png' %}">
            <p>                            STREAM BUNNY
                Nunc varius vestibulum lorem, vel consequat nisi dapibus vel. Vestibulum pulvinar urna vitae eros commodo, quis laoreet sem dapibus. Sed libero magna, congue quis eros in, posuere iaculis justo. Pellentesque a libero mattis, consectetur nisl id, tincidunt nunc. Etiam non fringilla neque, non scelerisque felis. Vivamus posuere, lacus nec tempor fringilla, ante metus tincidunt tellus, cursus pulvinar nulla nibh ut tortor. Aliquam vulputate, justo ac hendrerit tempus, elit neque congue nisi, a ultrices eros ex vel erat. Donec eu est nulla. Cras semper risus nec molestie ultrices. Sed facilisis orci ligula, id semper justo rutrum at.
            </p>
        </div>
    </div>
</section>
{% endblock %}