{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- =======   ALL PROJECTS PAGE   ======= -->
{% if not single %}
    <section class="content-2">
        <div class="text-center">
            <div class="title-div">
                <h1 class="title">Projects</h1>
            </div>
        </div>
        <div class="grid">
            <div class="grid-item">
                <a href="/projects?title=Ticket-Easy">
                    <img class="grid-image" src="{% static 'media/images/tickets.png' %}">
                </a>
                <div>
                    <h1>Ticket Easy</h1>
                    <p>
                        A support ticketing system built for dynamic usage and equipped with custom automations.
                    </p>
                </div>
            </div>
            <div class="grid-item">
                <a href="/projects?title=Stream-Bunny">
                    <img class="grid-image" src="{% static 'media/images/stream-bunny.png' %}">
                </a>
                <div>
                    <h1>Stream Bunny</h1>
                    <p>
                        A service in which users can search for a movie they want to watch and find where it is streaming. 
                    </p>
                </div>
            </div>
            <div class="grid-item">
                <a href="/projects?title=session-tracker">
                    <img class="grid-image" src="{% static 'media/images/session-tracker.png' %}">
                </a>
                <div>
                    <h1>Session Tracker</h1>
                    <p>
                        <p>A tool to help businesses list their packages and offers and to help manage the redemption of a package's sessions. Ideal for services such as personal training, therapy, coaching, tutoring, lawn services, and other similar types of services.</p>
                    </p>
                </div>
            </div>
        </div>
    </section>

<!-- =======   SINGLE PROJECT PAGE   ======= -->
{% else %}
    <header id="project-banner" class="{{project}}">
        <h1 class="title-{{project}}">{{title}}</h1>
    </header>
    {% if title == "Ticket Easy" %}
        ticketing
    {% elif title == "Stream Bunny" %}
        streaming
    {% elif title == "Session Tracker" %}
        <p>A tool to help businesses list their packages and offers and to help manage the redemption of a package's sessions. Ideal for services such as personal training, therapy, coaching, tutoring, lawn services, and other similar types of services.</p>
    {% endif %}
{% endif %}

{% endblock %}